body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #fff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 400px;
}

h1 {
  padding: 2%;
  border-bottom: 1px solid lightgray;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

#add-task {
  border: none;
  padding: 2%;
  width: 90%;
}
#add-task:focus {
  outline: none;
}

input {
  border-bottom: 1px solid lightgray;
}

.todo-item {
  display: flex;
  gap: 2%;
  padding: 2%;
  border-top: 1px solid lightgray;
}

.clear {
  border: 1px solid lightgray;
  padding: 2%;
  font-size: 0.9rem;
  cursor: pointer;
}

span {
  flex: 1;
}

.fa-trash-can {
  display: none;
  cursor: pointer;
}

.checked {
  background: rgb(250 255 33 / 33%);
  text-decoration: line-through;
}

.checkTodo {
  text-decoration: line-through;
}

.doticon {
  display: none;
}

.trash {
  display: block;
}

.focus:focus {
  outline: none;
}

.checkbox {
  cursor: pointer;
}

.form-top {
  display: flex;
  align-items: center;
}


